@tailwind base;
@tailwind components;
@tailwind utilities;

 *{
    /* outline: 2px solid red;  */
} 

.you{
    -webkit-text-stroke: 1.5px #ca3b4c; 
    color:transparent;
    background-image: linear-gradient(#ca3b4c, #ca3b4c);
    -webkit-background-clip: text;
    background-position: -450px 0;
    background-repeat: no-repeat;
    animation: backcolor 3s linear infinite alternate;
}

 @keyframes backcolor {
    100%{
        background-position: 0 0 ;
    }
}

